<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gy.lease.web.admin.mapper.LabelInfoMapper">

    <select id="selectLabelInfo" resultType="com.gy.lease.model.entity.LabelInfo">
        select id, type, name
            from label_info
        where id in (select label_id
                     from apartment_label
                     where is_deleted = 0
                       and apartment_id = #{id})
            and is_deleted = 0
    </select>
    <select id="selectLabelInfo2" resultType="com.gy.lease.model.entity.LabelInfo">
        select id, type, name
        from label_info
        where id in (select label_id
                     from room_label
                     where is_deleted = 0
                       and room_id = #{id})
          and is_deleted = 0
    </select>
</mapper>
