<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gy.lease.web.admin.mapper.SystemUserMapper">

    <select id="pageVo" resultType="com.gy.lease.web.admin.vo.system.user.SystemUserItemVo">
        select
        su.username,
        su.id,
        su.password,
        su.name,
        su.type,
        su.phone,
        su.avatar_url,
        su.additional_info,
        su.post_id,
        su.status,
        sp.id as post_id,
        sp.code,
        sp.name post_name,
        sp.description,
        sp.status
        from system_user su left join system_post sp on su.post_id = sp.id and sp.is_deleted = 0
        <where>
            su.is_deleted = 0
            <if test="queryVo.name != null and queryVo.name != ''">
                and su.name like concat('%',#{queryVo.name},'%')
            </if>
            <if test="queryVo.phone !=null and queryVo.phone != ''">
                and su.phone like concat('%',#{queryVo.phone},'%')
            </if>
        </where>
    </select>
    <select id="selectOnebyUserName" resultType="com.gy.lease.model.entity.SystemUser">
        select id, username, password, name, type, phone, avatar_url, additional_info, post_id, status
            from system_user
        where is_deleted = 0 and username = #{username}
    </select>
    <select id="getInfoByToken" resultType="com.gy.lease.web.admin.vo.system.user.SystemUserInfoVo">
        select id, username, password, name, type, phone, avatar_url, additional_info, post_id, status
            from system_user
        where is_deleted = 0 and id = #{userId}
    </select>
</mapper>
